.newBoard {
    margin: 10px 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: greenyellow;
    display: inline-block;
    outline: none;
}

.newBoard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.newBoard:active {
    margin: 15px 15px;
    width: 290px;
    height: 90px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.newBoard:active span {
    padding: 0 40px;
    width: 200px;
    font-size: 2.4vh;
    line-height: 90px;
}

.newBoard span {
    padding: 0 44px;
    width: 202px;
    display: inline-block;
    font-size: 2.5vh;
    font-weight: bold;
    line-height: 100px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}